:root {
    --primary-color: #C1C8C6;
    --secondary-color: #D9D9D9;
    --border-color: #000000;

    --low-priority: #F76A6A;
    --low-b: #7C2525;

    --medium-priority: #FFEC6F;
    --low-b: #958624;

    --high-priority: #8FFF7C;
    --low-b: #317825;


}

* {
    padding: 0;
    margin: 0;
}

html, body{
    height: 100%;
}

body{
    display: flex;
    flex-flow: column;
    height: 100%;
}


header {
    display: flex;
    height: 100px;

    padding: 10px 0;
    background-color: var(--primary-color);
    border-bottom: 3px solid var(--border-color);
}
header h1 {
    font-size: 40px;
}
header .icon {
    height: 50px;
    width: 50px;
}
.navbox{
    display: flex;
    padding: 0 30px;
    gap:30px;
    align-items: center;


}

main {
    display: flex;
    flex: 1 1 auto;
    height: auto;
}

.sidebar {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;

    
    align-items: center;
    width: 250px;

    gap: 10px;
    padding: 30px;
    background-color:var(--secondary-color);
    border-right: 2px solid var(--border-color);
    right: 0;
    transition:right 1s ease;

}

div.sidebar-inactive {
    right: 100%;
}

.content {
    display: flex;
    flex: 1 1 auto;
}

button.newProject {
    font-size: 25px;
    font-weight: 600;
}

.project {


    width: 100%;
    height: 50px;
    font-size: 20px;
    font-weight: 400;

}

#buttonform{
    display: flex;
    flex-direction: column;
    position: relative;

    gap: 10px;

    right: 0px;
    height: 500px;
    width: 450px;

    transition:right 1s ease;

    padding: 20px;
    background-color: var(--secondary-color);
    border-right: 3px solid var(--primary-color);
    border-bottom: 3px solid var(--primary-color);


}

#buttonform.disabled  {
    z-index: -1;
    right: 100%;
}

.priority {
    display: flex;
}

input[type="radio"]{
    width: 10px;
}